.entryForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px #00000023;
  padding: 20px;
  width: fit-content;
  column-gap: 20px;
}

.entryForm button {
  font-weight: 500;
}

@media (max-width: 680px) {
  .entryForm {
    max-width: 80%;
    row-gap: 20px;
  }
}