.entryForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px #00000023;
  padding: 20px;
  width: 100%;
  gap: 20px;
}

.entryForm>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.entryForm button {
  font-weight: 500;
}