.formInput {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: flex-start;
  font-weight: 400;
}

.formInput input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid lightgray;
  border-radius: 0;
  font-size: 0.9em;
}

.formInput input:focus {
  outline: none;
  border-bottom-color: var(--color-highlight);
}

.formInput label {
  position: relative;
  min-height: 21px;
  top: 22px;
  margin-bottom: 4px;
  font-size: 0.9em;
  transition: top .15s, font-size .15s;
}

.formInput .inputActive {
  top: 0;
  font-size: 1em;
  font-weight: 500;
}

.formError {
  color: crimson;
  font-size: 0.75em;
  min-height: calc(1em + 4px);
  margin-top: 4px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  position: relative;
  top: 0;
}

.errorActive {
  display: block;
  opacity: 1;

}

.formInput label:not(.inputActive) {
  cursor: text;
}